{% import _self as self %}
{% extends 'basedocumentation.html.twig' %}

{% block head %}
    <script type="application/javascript">{% include 'includes/foundation-5.5.2/js/vendor/jquery.js' only %}</script>
    <script type="application/javascript">
        $(function () {
            $(".expandable-name").on('click', function (e) {
                e.preventDefault();
                $(this.nextElementSibling).slideToggle('fast');
            });
        });
    </script>
        <style>
        .doc-table { width: 100%; }
        .doc-table tr td { vertical-align: top; }
        .doc-table tr td.name { width: 20%; }
        .doc-table tr td.support-status { width: 10%; }
        .doc-table tr td.support-status-yes { background: green; color: white; }
        .doc-table tr td.support-status-partial { background: yellowgreen; color: white; }
        .doc-table tr td.support-status-no { background: indianred; color: white; }
        .doc-table tr td.description { width: 70%; }
        .expandable-name { margin-bottom: 15px; }
    </style>
{% endblock head %}

{% block content %}
    <div style="width: 800px; margin: 40px auto">
        <h1>QTI - Learnosity Documentation</h1>
        {% for interactionName, interaction in interactions %}
            <h3>{{ interactionName }}</h3>
            {{ _self.generateTables(interactionName, interaction) }}
            <hr/>
        {% endfor %}
    </div>
{% endblock content %}

{% macro generateTables(name, documentation) %}
    {% if attribute(documentation, '@notes') is not empty %}
        <div class="panel">{{ attribute(documentation, '@notes')|raw }}</div>
    {% endif %}

    {% if documentation is not empty %}
        <table class="doc-table">
            <tr>
                <th></th>
                <th>Support</th>
                <th>Description</th>
            </tr>
            {% for attributeName, attribute in attribute(documentation, '@attributes') %}
                <tr>
                    <td class="name">@{{ attributeName }}</td>
                    <td class="support-status support-status-{{ attribute.supportStatus|lower }}">{{ attribute.supportStatus }}</td>
                    <td class="description">{{ attribute.description }}</td>
                </tr>
            {% endfor %}
            {% for elementName, element in documentation %}
                {% if elementName[:1] != '@'  %}
                    {% if element.type == 'row' %}
                        <tr>
                            <td class="name">{{ elementName }}</td>
                            <td class="support-status support-status-{{ element.supportStatus|lower }}">{{ element.supportStatus }}</td>
                            <td class="description">{{ element.description }}</td>
                        </tr>
                    {% elseif documentation is not null %}
                        <tr>
                            <td colspan="3">
                                <div class="expandable-name"><a href="#">{{ elementName }}</a></div>
                                <div class="expandable-content">
                                    {{ _self.generateTables(elementName, element) }}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endmacro %}
